*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppons', sans-serif;
    background-color: #000;
}

.hero{
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    background-image: url(https://i.pinimg.com/originals/b6/e6/0c/b6e60c232eea473eb8bce612ed569cd3.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    color: #fff;
    padding: 0 8%;
}
a{
    color: red;
}